[submodule "projects/rpmembb"]
	path = projects/rpmembb
	url = https://github.com/tsukuba-hpcs/rpmembb.git
	update = merge
[submodule "spack/repos/tsukuba-hpcs"]
	path = spack/repos/tsukuba-hpcs
	url = https://github.com/tsukuba-hpcs/spack-packages.git
	update = merge
[submodule "projects/ompi"]
	path = projects/ompi
	url = https://github.com/tsukuba-hpcs/ompi-pmembb.git
	update = merge
[submodule "projects/ior"]
	path = projects/ior
	url = https://github.com/hpc/ior.git
	update = merge
[submodule "projects/h5bench"]
	path = projects/h5bench
	url = https://github.com/tsukuba-hpcs/h5bench-pmembb.git
